<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EcommerceDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBServlet</display-name>
    <servlet-name>DBServlet</servlet-name>
    <servlet-class>controller.DBServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBServlet</servlet-name>
    <url-pattern>/DBServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadArticle</display-name>
    <servlet-name>UploadArticle</servlet-name>
    <servlet-class>controller.UploadArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadArticle</servlet-name>
    <url-pattern>/UploadArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthorController</display-name>
    <servlet-name>AuthorController</servlet-name>
    <servlet-class>controller.AuthorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthorController</servlet-name>
    <url-pattern>/AuthorController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviewArticle</display-name>
    <servlet-name>ReviewArticle</servlet-name>
    <servlet-class>controller.ReviewArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewArticle</servlet-name>
    <url-pattern>/ReviewArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviewFormServlet</display-name>
    <servlet-name>ReviewFormServlet</servlet-name>
    <servlet-class>controller.ReviewFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewFormServlet</servlet-name>
    <url-pattern>/ReviewFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JDBServlet</display-name>
    <servlet-name>JDBServlet</servlet-name>
    <servlet-class>controller.JDBServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JDBServlet</servlet-name>
    <url-pattern>/JDBServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReaderController</display-name>
    <servlet-name>ReaderController</servlet-name>
    <servlet-class>controller.ReaderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReaderController</servlet-name>
    <url-pattern>/ReaderController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormController</display-name>
    <servlet-name>FormController</servlet-name>
    <servlet-class>controller.FormController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormController</servlet-name>
    <url-pattern>/FormController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArticleToSelectServlet</display-name>
    <servlet-name>ArticleToSelectServlet</servlet-name>
    <servlet-class>controller.ArticleToSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleToSelectServlet</servlet-name>
    <url-pattern>/ArticleToSelectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditorController</display-name>
    <servlet-name>EditorController</servlet-name>
    <servlet-class>controller.EditorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditorController</servlet-name>
    <url-pattern>/EditorController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditorServiceController</display-name>
    <servlet-name>EditorServiceController</servlet-name>
    <servlet-class>controller.EditorServiceController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditorServiceController</servlet-name>
    <url-pattern>/EditorServiceController</url-pattern>
  </servlet-mapping>
  <error-page>
    <exception-type> java.lang.Exception </exception-type>
    <location>/errorpage.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/errorpage.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>CommentServlet</display-name>
    <servlet-name>CommentServlet</servlet-name>
    <servlet-class>controller.CommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentServlet</servlet-name>
    <url-pattern>/CommentServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>appListener.FormScheduler</listener-class>
  </listener>
</web-app>